.section
  %p
    iDropPwd is secure, reliable, simple and inexpensive password management app to all the other ones out there. It is beautifully designed and you are going to love managing your passwords. 
  %p
    iDropPwd is built on top of Dropbox so that you can manage your passwords on your iPhone, iPad, iPad Mini and iPod Touch. 
  %p
    iDropPwd uses AES-256 (provided by Apple's iOS framework) to secure all your passwords. In addition to the highly secured Dropbox environment which over 100+ million users already trust. Lastly we provide a PIN security which is required every time you activate the app. 
  .ios-app-store
    %a{:href => "http://itunes.apple.com/us/app/idroppwd/id616595285"}
      %img{:alt => "Available on App Store", :border => "0", :height => "60", :src => "/img/iosappstore.png", :width => "180"}/
    %br
    %a{:href => "http://itunes.apple.com/us/app/idroppwd/id616595285"}
      iDropPwd App for iOS

:plain
  <script type="text/javascript">
  $(window).load(function(){
   
    $('#iconiDropPwd').attr("class", "appIconText appIconBg");
    $("#iconiDropPwd").attr("onmouseout","this.className='appIconText appIconBg';");
  });
  </script>