.row
  .large-12.columns{:style => "padding:0px;margin:0px;"}
    %ul{"data-options" => "timer_speed: 6000;animation_speed: 2500;stack_on_small:true;bullets:false;slide_number_class:orbit-slide-number-none;next_class:orbit-next-none;prev_class:orbit-prev-none;", "data-orbit" => ""}
      %li
        %a{:href => "/iDropPwd"} 
          %img{:alt => "Secure+Dropbox+Pennies=iDropPwd", :border => "0", :src => "/images/idroppwd/idroppwd-confidence-1000x525.png"}/
      %li
        %a{:href => "/iDropPwd"} 
          %img{:alt => "Secure+Dropbox+Pennies=iDropPwd", :border => "0", :src => "/images/idroppwd/idroppwd-secure-dropbox-pennies-1000x525.png"}/
.row.pad-top-20 
  .large-12.columns
    .section-container.auto{"data-options" => "deep_linking: true;", "data-section" => "", :style => ""}
      %section.section.active{:style => ""}
        %p.title{:style => "left: 0px;"} 
          %a{:href => "#panel1", :style => "font-size:18px;"} iDropCopy iOS
        .content{"data-slug" => "panel1", :style => ""}  
          .row.pad-content
            .large-7.columns
              %img{:src => "/images/idroppwd/idroppwd-ios-title-500x125.png"}/
              %p
                iDropPwd is secure, reliable, simple and inexpensive password management app to all the other ones out there. It is beautifully designed and you are going to love managing your passwords. 
              %p
                iDropPwd is cloud-ready! It is built on top of Dropbox so that you can manage your passwords on your iPhone, iPad, iPad Mini and iPod Touch.
              %p
                iDropPwd uses AES-256 (provided by Apple's iOS framework) to secure all your passwords. In addition to the highly secured Dropbox environment which over 100+ million users already trust.
              %p
                iDropPwd provides simple and powerful search and sort feature to quickly retrieve your saved passwords
              %p
                iDropPwd provides flexiable settings option to help use your password app securely and efficiently.
            
            
            .large-5.columns
              %img{:src => "/images/idroppwd/idroppwd-banner-640x960.png", :vspace => "20"}/ 
          .row.gray-box.pad-content-right
            .large-5.columns
              %img{:src => "/images/idroppwd/idroppwd-passcode-640x960.png"}/ 
            .large-7.columns.mobix-right
              %img{:src => "/images/idroppwd/idroppwd-security-title-500x125.png"}/
              %h5.mobix-left.pad-left-60
                How secure is iDropPwd?
              %p.mobix-left.pad-left-60
                iDropPwd takes the security and safety of your password data very seriously.  That is why iDropPwd uses dual layer AES-256 Bit Encryption.
              %p.mobix-left.pad-left-60
                First level is Dropbox Secure Sockets layer (SSL) and AES-256 bit encryption.  For more information please read the following 
                %a{:href => "https://www.dropbox.com/help/27/en"} 
                  Dropbox Security 
                information.
              %p.mobix-left.pad-left-60
                Second level is iDropPwd uses Apple iOS AES-256 bit standard encryption to secure your password data file which is stored in the highly secured Dropbox environment.  
              %p.mobix-left.pad-left-60
                We provide a 4 digit passcode security to access your iDropPwd application.  This is the only password you have to remember.  If you don't then you have to start all over there is no way to retrieve the 4-digit Passcode.
              %h5.mobix-left.pad-left-60
                Drop your passwords with confidence!
                
                
              
          .row.gray-box.pad-content
            .large-7.columns
              %img{:src => "/images/idroppwd/idroppwd-cloud-ready-title-500x125.png"}/
              %h5
                How can you access your stored Passwords?
              %p
                iDropPwd is accessible on any of your iOS devices: iPhone, iPad & iPod Touch.  iDropPwd app uses the Dropbox file sharing service to give the flexibility to manage and access your passwords anytime and anywhere.
              
              %h5
                How much extra does it cost to be cloud-ready?
              %p
                Password management apps which are out there charge extra money for this feature or they have lite and paid version.  iDropPwd includes cloud-ready feature for no additional charge.
                 
                
            .large-5.columns
              %img{:src => "/images/idroppwd/idroppwd-main-640x960.png"}/ 
          .row.gray-box.pad-content-right
            .large-5.columns
              %img{:src => "/images/idroppwd/idroppwd-search-640x960.png"}/ 
            .large-7.columns.mobix-right
              %img{:src => "/images/idroppwd/idroppwd-search-title-500x125.png"}/
              %h5.mobix-left.pad-left-60
                How fast can you get to all your passwords?
              %p.mobix-left.pad-left-60
                iDropPwd provides a simple way to search by name and user id to quickly find your password.  This a wonderful and beautifully designed feature.
              %h5.mobix-left.pad-left-60
                How can I sort my password list?
              %p.mobix-left.pad-left-60
                iDropPwd provides a way to sort alphabetically and by last modified date ascending or descending.
      
                
          .row.gray-box.pad-content
            .large-7.columns
              %img{:src => "/images/idroppwd/idroppwd-settings-title-500x125.png"}/
              %h5
                How to change your Passcode?
              %p
                We provide a way to manage your passcode and you can change it anytime from any of your devices and it will changed it in all devices.
              %p 
                You are allowed per device 10 attempts.  The 11th failed attempt will result in deleting all iDropPwd data from all your devices and the device will be unlinked from your dropbox account.
                
              %h5
                How to quickly see your userid and password?
              %p
                This is an optional feature if you want see your userid and password in the list view for quick access.
              %p         
                There are standard features to help manage your passwords securely and efficiently.
                
            .large-5.columns
              %img{:src => "/images/idroppwd/idroppwd-settings-640x960.png"}/ 

          .row
            .large-12.columns
              %p
                %a{:href => "http://itunes.apple.com/us/app/idroppwd/id616595285"}
                  %img{:alt => "Available on App Store", :border => "0", :height => "60", :src => "/images/iosappstore.png", :width => "180"}/
                %br
                %a{:href => "https://itunes.apple.com/us/app/idroppwd/id616595285"}
                  iDropPwd App for iOS



