.flexslider
  %ul.slides
    %li
      %img{:alt => "ilovemyabcs fun new way to learn", :border => "0", :src => "/img/ilovemyabcs/ilovemyabcs-fun-new-way-600h.png"}/
    %li
      %img{:alt => "ilovemyabcs animals", :border => "0", :src => "/img/ilovemyabcs/ilovemyabcs-animals-600h.png"}/
    %li
      %img{:alt => "ilovemyabcs countries", :border => "0", :src => "/img/ilovemyabcs/ilovemyabcs-countries-600h.png"}/
    %li
      %img{:alt => "ilovemyabcs fruits", :border => "0", :src => "/img/ilovemyabcs/ilovemyabcs-fruits-600h.png"}/
    %li
      %img{:alt => "ilovemyabcs presidents", :border => "0", :src => "/img/ilovemyabcs/ilovemyabcs-presidents-600h.png"}/
  
.gray-box
  #ilovemyabcs-listview-ios
    .header
      EASY, FUN & AN AMAZING EXPERIENCE!
    .data
      ILoveMyABCs is a universal app that runs on iOS (iPad, iPhone and iPod). ILoveMyABCs makes learning different types of information easy, fun and exciting for kids and parents. ILoveMyABCs provides hand picked visual images and custom audio voice overs for each word that is displayed.
    .header
      WE HAVE 52 CATEGORIES & 769 WORDS
    .data
      Learn and discover new categories of knowledge with your kids alphabetically. Here are few of the top categories listed below:
      %table{:border => "0", :bordercolor => "#888", :cellspacing => "2", :cellpadding => "2", :style => "margin-bottom:10px;margin-top:10px;border:solid 1px #ebebeb;width:300px;"}
        %tbody
          %tr
            %td Animals&nbsp;(94)
            %td &nbsp;Household Items (29)
          %tr
            %td Astronomy &amp; Planets (10)
            %td &nbsp;Transportations (11)
          %tr
            %td Birds (20)
            %td &nbsp;US Presidents (44)
          %tr
            %td Countries (235)
            %td &nbsp;US States (50)
          %tr
            %td Fruits (91)
            %td &nbsp;Vegetables (58)
    .header
      BEAUTIFUL IMAGES AND CUSTOM AUDIO VOICE OVERS
    .data
      Best way to learn anything is when sight and sound are provided for the children simultaneously. Some of the custom audio voice overs are quite funny and surprising. I hope you will enjoy them. 
    .header
      EASY ACCESS TO WEALTH OF KNOWLEDGE FOR EACH WORD USING WIKIPEDIA  
    .data
      All of the words are one click away from wikipedia to get in depth understanding of the words displayed. It is a wonderful app for all ages and it is best experienced by kids and parents using together. 
    .header
      FILTER WORDS BY A CATEGORY
    .data
      Learn about a single category by clicking the filter icon
      %img{:alt => "Filter Icon", :border => "0",  :src => "/img/ilovemyabcs/filter-32px.png", :style => "vertical-align:middle;width:22px;height:22px;"}/
      Filter to learn about U.S. Presidents, Animals, Fruits, Countries and other wonderful categories.
    .header
      ESSENTIAL FEATURES FOR MAKING ILOVEMYABCS APP MORE FUN TO EXPERIENCE
    .data
      All words are organized by categories and accessed by the starting letter of the word.
      %br/
      %div{:style => "text-align:center;padding:10px;font-size:14px;line-height:20px;"}
        %img{:alt => "Apple Tile", :border => "0",  :src => "/img/ilovemyabcs/apple-tile.png", :style => "padding-bottom:10px;text-align:center;vertical-align:middle;border-top:solid 1px #ebebeb;"}/
        %br/
        Click the image tile to move forward to see the next word. 
        %br/
        Click the back arrow button to back to previous word. 
        %br/
        Click the audio icon to replay the custom audio words.
      %table{:border => "0", :bordercolor => "#888", :cellspacing => "2", :cellpadding => "2", :style => "margin-bottom:10px;margin-top:10px;border:solid 1px #ebebeb;width:425px"}
        %tbody
          %tr
            %td{:valign => "middle"}
              %img{:border => "0", :src => "/img/ilovemyabcs/filter-32px.png", :style => "padding-left:4px;width:24px;height:24px;"}
            %td{:valign => "middle", :style => "font-size:13px;"} Touch the filter icon to quickly filter the words by categories.
          %tr
            %td{:valign => "middle"}
              %img{:border => "0", :src => "/img/ilovemyabcs/sound.png", :style => "padding-left:4px;width:24px;height:24px;"}
            %td{:valign => "middle", :style => "font-size:13px;"} Touch the audio icon to play the custom audio sounds.
          %tr
            %td{:valign => "middle"}
              %img{:border => "0", :src => "/img/ilovemyabcs/home.png", :style => "width:24px;height:24px;"}
            %td{:valign => "middle", :style => "font-size:13px;"} Touch the Home icon to go to the first page.
          %tr
            %td{:valign => "middle"}
              %img{:border => "0", :src => "/img/ilovemyabcs/lowercase-32px.png", :style => "width:24px;height:24px;"}
            %td{:valign => "middle", :style => "font-size:13px;"} Touch the A/a icon to reset all pages and the letter casing.
          %tr
            %td{:valign => "middle"}
              %img{:border => "0", :src => "/img/ilovemyabcs/abcs-settings-32px.png", :style => "width:24px;height:24px;"}
            %td{:valign => "middle", :style => "font-size:13px;"} Touch the love icon to access app settings to personalize.
          %tr
            %td{:valign => "middle"}
              %img{:border => "0", :src => "/img/ilovemyabcs/shuffle.png", :style => "width:24px;height:24px;"}
            %td{:valign => "middle", :style => "font-size:13px;"} Touch the shuffle icon to randomize the words displayed.
          %tr
            %td{:valign => "middle"}
              %img{:border => "0", :src => "/img/ilovemyabcs/help.png", :style => "width:24px;height:24px;"}
            %td{:valign => "middle", :style => "font-size:13px;"} Touch the help icon to get visual help in how to use the app

    .header
      I hope your family enjoys iLoveMyABCS 
    .ios-app-store
      %a{:href => "http://itunes.apple.com/us/app/ilovemyabcs/id528522152"}
        %img{:alt => "Available on App Store", :border => "0", :height => "60", :src => "/img/iosappstore.png", :width => "180"}/
      %br
      %a{:href => "http://itunes.apple.com/us/app/ilovemyabcs/id528522152"}
        iLoveMyABCs App for iOS
.gray-box
  #ilovemyabcs-listview-android
    .header
      EASY, FUN & AN AMAZING EXPERIENCE!
    .data
      ILoveMyABCs is a universal app that runs on android phones and tablets. ILoveMyABCs makes learning different types of information easy, fun and exciting for kids and parents. ILoveMyABCs provides hand picked visual images and custom audio voice overs for each word that is displayed.
    .header
      WE HAVE 52 CATEGORIES & 769 WORDS
    .data
      Learn and discover new categories of knowledge with your kids alphabetically. Here are few of the top categories listed below:
      %table{:border => "0", :bordercolor => "#888", :cellspacing => "2", :cellpadding => "2", :style => "margin-bottom:10px;margin-top:10px;border:solid 1px #ebebeb;width:300px;"}
        %tbody
          %tr
            %td Animals&nbsp;(94)
            %td &nbsp;Household Items (29)
          %tr
            %td Astronomy &amp; Planets (10)
            %td &nbsp;Transportations (11)
          %tr
            %td Birds (20)
            %td &nbsp;US Presidents (44)
          %tr
            %td Countries (235)
            %td &nbsp;US States (50)
          %tr
            %td Fruits (91)
            %td &nbsp;Vegetables (58)
    .header
      BEAUTIFUL IMAGES AND CUSTOM AUDIO VOICE OVERS
    .data
      Best way to learn anything is when sight and sound are provided for the children simultaneously. Some of the custom audio voice overs are quite funny and surprising. I hope you will enjoy them. 
    .header
      EASY ACCESS TO WEALTH OF KNOWLEDGE FOR EACH WORD USING WIKIPEDIA  
    .data
      All of the words are one click away from wikipedia to get in depth understanding of the words displayed. It is a wonderful app for all ages and it is best experienced by kids and parents using together. 
    .header
      FILTER WORDS BY A CATEGORY
    .data
      Learn about a single category by clicking the filter icon
      %img{:alt => "Filter Icon", :border => "0",  :src => "/img/ilovemyabcs/filter-32px.png", :style => "vertical-align:middle;width:22px;height:22px;"}/
      Filter to learn about U.S. Presidents, Animals, Fruits, Countries and other wonderful categories.
    .header
      ESSENTIAL FEATURES FOR MAKING ILOVEMYABCS APP MORE FUN TO EXPERIENCE
    .data
      All words are organized by categories and accessed by the starting letter of the word.
      %br/
      %div{:style => "text-align:center;padding:10px;font-size:14px;line-height:20px;"}
        %img{:alt => "Apple Tile", :border => "0",  :src => "/img/ilovemyabcs/apple-tile.png", :style => "padding-bottom:10px;text-align:center;vertical-align:middle;border-top:solid 1px #ebebeb;"}/
        %br/
        Click the image tile to move forward to see the next word. 
        %br/
        Click the back arrow button to back to previous word. 
        %br/
        Click the audio icon to replay the custom audio words.
      %table{:border => "0", :bordercolor => "#888", :cellspacing => "2", :cellpadding => "2", :style => "margin-bottom:10px;margin-top:10px;border:solid 1px #ebebeb;width:425px"}
        %tbody
          %tr
            %td{:valign => "middle"}
              %img{:border => "0", :src => "/img/ilovemyabcs/filter-32px.png", :style => "padding-left:4px;width:24px;height:24px;"}
            %td{:valign => "middle", :style => "font-size:13px;"} Touch the filter icon to quickly filter the words by categories.
          %tr
            %td{:valign => "middle"}
              %img{:border => "0", :src => "/img/ilovemyabcs/sound.png", :style => "padding-left:4px;width:24px;height:24px;"}
            %td{:valign => "middle", :style => "font-size:13px;"} Touch the audio icon to play the custom audio sounds.
          %tr
            %td{:valign => "middle"}
              %img{:border => "0", :src => "/img/ilovemyabcs/home.png", :style => "width:24px;height:24px;"}
            %td{:valign => "middle", :style => "font-size:13px;"} Touch the Home icon to go to the first page.
          %tr
            %td{:valign => "middle"}
              %img{:border => "0", :src => "/img/ilovemyabcs/lowercase-32px.png", :style => "width:24px;height:24px;"}
            %td{:valign => "middle", :style => "font-size:13px;"} Touch the A/a icon to reset all pages and the letter casing.
          %tr
            %td{:valign => "middle"}
              %img{:border => "0", :src => "/img/ilovemyabcs/abcs-settings-32px.png", :style => "width:24px;height:24px;"}
            %td{:valign => "middle", :style => "font-size:13px;"} Touch the love icon to access app settings to personalize.
          %tr
            %td{:valign => "middle"}
              %img{:border => "0", :src => "/img/ilovemyabcs/help.png", :style => "width:24px;height:24px;"}
            %td{:valign => "middle", :style => "font-size:13px;"} Touch the help icon to get visual help in how to use the app
    %table{:border => "0", :bordercolor => "#888", :cellspacing => "2", :cellpadding => "2", :style => "margin-bottom:10px;margin-top:10px;width:425px"}
      %tbody
        %tr
          %td{:valign => "middle"}
            .google-app-store
              %a{:href => "http://play.google.com/store/apps/details?id=com.mindobix.ilovemyabcs"}
                %img{:alt => "Google Play App Store", :border => "0",  :src => "/img/playappstore.png"}/
                %br/
              %a{:href => "http://play.google.com/store/apps/details?id=com.mindobix.ilovemyabcs"}
                iLoveMyABCs Android App
          %td{:valign => "middle", :style => "font-size:13px;"}
            .amazon-app-store
              %a{:href => "http://www.amazon.com/gp/product/B009QSD2MA/ref=mas_pm_ILoveMyABCs"}
                %img{:alt => "Amazon App Store", :border => "0",  :src => "/img/amazonappstore.png"}/
                %br/
              %a{:href => "http://www.amazon.com/gp/product/B009QSD2MA/ref=mas_pm_ILoveMyABCs"}
                iLoveMyABCs Android App
:plain
  <script type="text/javascript">
  $(window).load(function(){
    $('.flexslider').flexslider({
      animation: "fade",
      slideshowSpeed: 6000,          
      animationSpeed: 1250, 
      controlNav: true,     
      directionNav: false, 
      pauseOnAction: true,
      pauseOnHover: true,  
      start: function(slider) {
      }
    });   
    $('#iconiLoveMyABCs').attr("class", "appIconText appIconBg");
    $("#iconiLoveMyABCs").attr("onmouseout","this.className='appIconText appIconBg';");
  });
  </script>