.row
  .large-12.columns{:style => "padding:0px;margin:0px;"}
    %ul{"data-options" => "timer_speed: 6000;animation_speed: 2500;stack_on_small:true;bullets:false;slide_number_class:orbit-slide-number-none;next_class:orbit-next-none;prev_class:orbit-prev-none;", "data-orbit" => ""}
      %li
        %a{:href => "/iLoveMyABCs"} 
          %img{:alt => "iLoveMyABCs New Way To Learn", :border => "0", :src => "/images/ilovemyabcs/ilovemyabcs-fun-new-way-1000x525.png"}/
      %li
        %a{:href => "/iLoveMyABCs"} 
          %img{:alt => "iLoveMyABCs Animals", :border => "0", :src => "/images/ilovemyabcs/ilovemyabcs-animals-1000x525.png"}/
      %li
        %a{:href => "/iLoveMyABCs"} 
          %img{:alt => "iLoveMyABCs Fruits", :border => "0", :src => "/images/ilovemyabcs/ilovemyabcs-fruits-1000x525.png"}/  
      %li
        %a{:href => "/iLoveMyABCs"} 
          %img{:alt => "iLoveMyABCs Presidents", :border => "0", :src => "/images/ilovemyabcs/ilovemyabcs-presidents1-1000x525.png"}/
      %li
        %a{:href => "/iLoveMyABCs"} 
          %img{:alt => "iLoveMyABCs Countries", :border => "0", :src => "/images/ilovemyabcs/ilovemyabcs-countries-1000x525.png"}/
.row.pad-top-20 
  .large-12.columns
    .section-container.auto{"data-options" => "deep_linking: true;", "data-section" => "", :style => ""}
      %section.section.active{:style => ""}
        %p.title{:style => "left: 0px;"} 
          %a{:href => "#panel1", :style => "font-size:18px;"} iLovemyABCs iOS
        .content{"data-slug" => "panel1", :style => ""}  
          .row
            .large-7.columns
              %img{:src => "/images/ilovemyabcs/ilovemyabcs-ios-title.png"}/
              %h5
                EASY, FUN & AN AMAZING EXPERIENCE!
              %p
                iLoveMyABCs is a universal app that runs on iOS (iPad, iPhone and iPod). iLoveMyABCs makes learning different types of information easy, fun and exciting for kids and parents. iLoveMyABCs provides hand picked visual images and custom audio voice overs for each word that is displayed.
              %h5
                WE HAVE 52 CATEGORIES & 769 WORDS
              %p
                Learn and discover new categories of knowledge with your kids alphabetically. Here are few of the top categories listed below:
                %table{:border => "0", :bordercolor => "#888", :cellspacing => "2", :cellpadding => "2", :style => "margin-bottom:10px;margin-top:10px;border:solid 1px #ebebeb;width:100%;"}
                  %tbody
                    %tr
                      %td Animals&nbsp;(94)
                      %td &nbsp;Household Items (29)
                    %tr
                      %td Astronomy &amp; Planets (10)
                      %td &nbsp;Transportations (11)
                    %tr
                      %td Birds (20)
                      %td &nbsp;US Presidents (44)
                    %tr
                      %td Countries (235)
                      %td &nbsp;US States (50)
                    %tr
                      %td Fruits (91)
                      %td &nbsp;Vegetables (58)
              %h5
                BEAUTIFUL IMAGES AND CUSTOM AUDIO VOICE OVERS
              %p
                Best way to learn anything is when sight and sound are provided for the children simultaneously. Some of the custom audio voice overs are quite funny and surprising. I hope you will enjoy them. 
              %h5
                EASY ACCESS TO WEALTH OF KNOWLEDGE FOR EACH WORD USING WIKIPEDIA  
              %p
                All of the words are one click away from wikipedia to get in depth understanding of the words displayed. It is a wonderful app for all ages and it is best experienced by kids and parents using together. 
              %h5
                FILTER WORDS BY A CATEGORY
              %p
                Learn about a single category by clicking the filter icon
                %img{:alt => "Filter Icon", :border => "0",  :src => "/images/ilovemyabcs/filter-32px.png", :style => "vertical-align:middle;width:22px;height:22px;"}/
                Filter to learn about U.S. Presidents, Animals, Fruits, Countries and other wonderful categories.
              %h5
                ESSENTIAL FEATURES FOR MAKING ILOVEMYABCS APP MORE FUN TO EXPERIENCE
              %p
                All words are organized by categories and accessed by the starting letter of the word.
                %br/
                %div{:style => "text-align:center;padding:10px;font-size:14px;line-height:20px;"}
                  %img{:alt => "Apple Tile", :border => "0",  :src => "/images/ilovemyabcs/apple-tile.png", :style => "padding-bottom:10px;text-align:center;vertical-align:middle;border-top:solid 1px #ebebeb;"}/
                  %br/
                  Click the image tile to move forward to see the next word. 
                  %br/
                  Click the back arrow button to back to previous word. 
                  %br/
                  Click the audio icon to replay the custom audio words.
                %table{:border => "0", :bordercolor => "#888", :cellspacing => "2", :cellpadding => "2", :style => "margin-bottom:10px;margin-top:10px;border:solid 1px #ebebeb;width:100%"}
                  %tbody
                    %tr
                      %td{:valign => "middle"}
                        %img{:border => "0", :src => "/images/ilovemyabcs/filter-32px.png", :style => "padding-left:4px;width:24px;height:24px;"}
                      %td{:valign => "middle", :style => "font-size:13px;"} Touch the filter icon to quickly filter the words by categories.
                    %tr
                      %td{:valign => "middle"}
                        %img{:border => "0", :src => "/images/ilovemyabcs/sound.png", :style => "padding-left:4px;width:24px;height:24px;"}
                      %td{:valign => "middle", :style => "font-size:13px;"} Touch the audio icon to play the custom audio sounds.
                    %tr
                      %td{:valign => "middle"}
                        %img{:border => "0", :src => "/images/ilovemyabcs/home.png", :style => "width:24px;height:24px;"}
                      %td{:valign => "middle", :style => "font-size:13px;"} Touch the Home icon to go to the first page.
                    %tr
                      %td{:valign => "middle"}
                        %img{:border => "0", :src => "/images/ilovemyabcs/lowercase-32px.png", :style => "width:24px;height:24px;"}
                      %td{:valign => "middle", :style => "font-size:13px;"} Touch the A/a icon to reset all pages and the letter casing.
                    %tr
                      %td{:valign => "middle"}
                        %img{:border => "0", :src => "/images/ilovemyabcs/abcs-settings-32px.png", :style => "width:24px;height:24px;"}
                      %td{:valign => "middle", :style => "font-size:13px;"} Touch the love icon to access app settings to personalize.
                    %tr
                      %td{:valign => "middle"}
                        %img{:border => "0", :src => "/images/ilovemyabcs/shuffle.png", :style => "width:24px;height:24px;"}
                      %td{:valign => "middle", :style => "font-size:13px;"} Touch the shuffle icon to randomize the words displayed.
                    %tr
                      %td{:valign => "middle"}
                        %img{:border => "0", :src => "/images/ilovemyabcs/help.png", :style => "width:24px;height:24px;"}
                      %td{:valign => "middle", :style => "font-size:13px;"} Touch the help icon to get visual help in how to use the app

              %h5
                I hope your family enjoys iLoveMyABCS 
              %p.pad-top-10.pad-bottom-10
                %a{:href => "http://itunes.apple.com/us/app/ilovemyabcs/id528522152"}
                  %img{:alt => "Available on App Store", :border => "0", :height => "60", :src => "/images/iosappstore.png", :width => "180"}/
                %br
                %a{:href => "http://itunes.apple.com/us/app/ilovemyabcs/id528522152"}
                  iLoveMyABCs App for iOS
            .large-5.columns
              %img{:src => "/images/ilovemyabcs/ilovemyabcs-ios-tiles-screenshot-400x600.png"}/ 
              %br
              %br
              %img{:src => "/images/ilovemyabcs/ilovemyabcs-ios-filter-screenshot-400x600.png"}/ 
              .row.pad-top-20
                .small-10.columns{:style => "padding:0px;margin:0px;padding-left:45px;"}
                  .panel.radius
                    .row
                      .small-5.columns
                        %a{:href => "#panel2"}
                          %img{:src => "/images/ilovemyabcs/ilovemyabcs-170x170.png", :style => "width:80px;height:80px"}
                      .small-7.columns
                        %p{:style => "padding-top:15px;"} 
                          %a{:href => "#panel2", :style => "font-size:18px;"} iLoveMyABCs for Android
              

      %section.section{:style => "padding-top: 49px;"}
        %p.title{:style => "left: 87px;"}
          %a{:href => "#panel2", :style => "font-size:18px;"} iLoveMyABCs Android
        .content{"data-slug" => "panel2", :style => ""}
          .row
            .large-7.columns
              %img{:src => "/images/ilovemyabcs/ilovemyabcs-android-title.png"}/
              %h5
                EASY, FUN & AN AMAZING EXPERIENCE!
              %p
                iLoveMyABCs is a universal app that runs on android phones and tablets. iLoveMyABCs makes learning different types of information easy, fun and exciting for kids and parents. iLoveMyABCs provides hand picked visual images and custom audio voice overs for each word that is displayed.
              %h5
                WE HAVE 52 CATEGORIES & 769 WORDS
              %p
                Learn and discover new categories of knowledge with your kids alphabetically. Here are few of the top categories listed below:
                %table{:border => "0", :bordercolor => "#888", :cellspacing => "2", :cellpadding => "2", :style => "margin-bottom:10px;margin-top:10px;border:solid 1px #ebebeb;width:100%;"}
                  %tbody
                    %tr
                      %td Animals&nbsp;(94)
                      %td &nbsp;Household Items (29)
                    %tr
                      %td Astronomy &amp; Planets (10)
                      %td &nbsp;Transportations (11)
                    %tr
                      %td Birds (20)
                      %td &nbsp;US Presidents (44)
                    %tr
                      %td Countries (235)
                      %td &nbsp;US States (50)
                    %tr
                      %td Fruits (91)
                      %td &nbsp;Vegetables (58)
              %h5
                BEAUTIFUL IMAGES AND CUSTOM AUDIO VOICE OVERS
              %p
                Best way to learn anything is when sight and sound are provided for the children simultaneously. Some of the custom audio voice overs are quite funny and surprising. I hope you will enjoy them. 
              %h5
                EASY ACCESS TO WEALTH OF KNOWLEDGE FOR EACH WORD USING WIKIPEDIA  
              %p
                All of the words are one click away from wikipedia to get in depth understanding of the words displayed. It is a wonderful app for all ages and it is best experienced by kids and parents using together. 
              %h5
                FILTER WORDS BY A CATEGORY
              %p
                Learn about a single category by clicking the filter icon
                %img{:alt => "Filter Icon", :border => "0",  :src => "/images/ilovemyabcs/filter-32px.png", :style => "vertical-align:middle;width:22px;height:22px;"}/
                Filter to learn about U.S. Presidents, Animals, Fruits, Countries and other wonderful categories.
              %h5
                ESSENTIAL FEATURES FOR MAKING ILOVEMYABCS APP MORE FUN TO EXPERIENCE
              %p
                All words are organized by categories and accessed by the starting letter of the word.
                %br/
                %div{:style => "text-align:center;padding:10px;font-size:14px;line-height:20px;"}
                  %img{:alt => "Apple Tile", :border => "0",  :src => "/images/ilovemyabcs/apple-tile.png", :style => "padding-bottom:10px;text-align:center;vertical-align:middle;border-top:solid 1px #ebebeb;"}/
                  %br/
                  Click the image tile to move forward to see the next word. 
                  %br/
                  Click the back arrow button to back to previous word. 
                  %br/
                  Click the audio icon to replay the custom audio words.
                %table{:border => "0", :bordercolor => "#888", :cellspacing => "2", :cellpadding => "2", :style => "margin-bottom:10px;margin-top:10px;border:solid 1px #ebebeb;width:100%"}
                  %tbody
                    %tr
                      %td{:valign => "middle"}
                        %img{:border => "0", :src => "/images/ilovemyabcs/filter-32px.png", :style => "padding-left:4px;width:24px;height:24px;"}
                      %td{:valign => "middle", :style => "font-size:13px;"} Touch the filter icon to quickly filter the words by categories.
                    %tr
                      %td{:valign => "middle"}
                        %img{:border => "0", :src => "/images/ilovemyabcs/sound.png", :style => "padding-left:4px;width:24px;height:24px;"}
                      %td{:valign => "middle", :style => "font-size:13px;"} Touch the audio icon to play the custom audio sounds.
                    %tr
                      %td{:valign => "middle"}
                        %img{:border => "0", :src => "/images/ilovemyabcs/home.png", :style => "width:24px;height:24px;"}
                      %td{:valign => "middle", :style => "font-size:13px;"} Touch the Home icon to go to the first page.
                    %tr
                      %td{:valign => "middle"}
                        %img{:border => "0", :src => "/images/ilovemyabcs/lowercase-32px.png", :style => "width:24px;height:24px;"}
                      %td{:valign => "middle", :style => "font-size:13px;"} Touch the A/a icon to reset all pages and the letter casing.
                    %tr
                      %td{:valign => "middle"}
                        %img{:border => "0", :src => "/images/ilovemyabcs/abcs-settings-32px.png", :style => "width:24px;height:24px;"}
                      %td{:valign => "middle", :style => "font-size:13px;"} Touch the love icon to access app settings to personalize.
                    %tr
                      %td{:valign => "middle"}
                        %img{:border => "0", :src => "/images/ilovemyabcs/help.png", :style => "width:24px;height:24px;"}
                      %td{:valign => "middle", :style => "font-size:13px;"} Touch the help icon to get visual help in how to use the app
              .row.pad-top-10.pad-bottom-10
                .small-12.columns
                  .row
                    .small-6.columns
                      %a{:href => "http://play.google.com/store/apps/details?id=com.mindobix.ilovemyabcs"}
                        %img{:alt => "Google Play App Store", :border => "0",  :src => "/images/playappstore.png"}/
                        %br/
                      %a{:href => "http://play.google.com/store/apps/details?id=com.mindobix.ilovemyabcs"}
                        iLoveMyABCs Android App
                    .small-6.columns
                      %a{:href => "http://www.amazon.com/gp/product/B009QSD2MA/ref=mas_pm_iLoveMyABCs"}
                        %img{:alt => "Amazon App Store", :border => "0",  :src => "/images/amazonappstore.png"}/
                        %br/
                      %a{:href => "http://www.amazon.com/gp/product/B009QSD2MA/ref=mas_pm_iLoveMyABCs"}
                        iLoveMyABCs Android App


            .large-5.columns
              %img{:src => "/images/ilovemyabcs/ilovemyabcs-android-tiles-screenshot-400x600.png"}/ 
              %br
              %br
              %img{:src => "/images/ilovemyabcs/ilovemyabcs-android-filter-screenshot-400x600.png"}/ 

              .row.pad-top-20
                .small-10.columns{:style => "padding:0px;margin:0px;padding-left:45px;"}
                  .panel.radius
                    .row
                      .small-5.columns
                        %a{:href => "#panel1"}
                          %img{:src => "/images/ilovemyabcs/ilovemyabcs-170x170.png", :style => "width:80px;height:80px"}
                      .small-7.columns
                        %p{:style => "padding-top:25px;padding-right:20px"} 
                          %a{:href => "#panel1", :style => "font-size:22px;"} iLoveMyABCs for iOS


