.flexslider
  %ul.slides
    %li
      %img{:alt => "ilovemyabcs presidents", :border => "0", :src => "/img/ilovemyabcs-presidents.jpg"}/
    %li
      %img{:alt => "idropcopy link", :border => "0", :src => "/img/idropcopy-copy-link.png"}/
    %li
      %img{:alt => "ilovemyabcs", :border => "0", :src => "/img/ilovemyabcs.png"}/
    %li
      %img{:alt => "idropcopy code snippet", :border => "0", :src => "/img/idropcopy-code-snippet.png"}/
    %li
      %img{:alt => "idropcopy dont just copy", :border => "0", :src => "/img/idropcopy-dont-just-copy.png"}/
:plain
  <script type="text/javascript">
  $(window).load(function(){
    $('.flexslider').flexslider({
      animation: "slide",
      slideshowSpeed: 10000,          
      animationSpeed: 1000,
      directionNav: false, 
      pauseOnAction: true,
      pauseOnHover: true,   
      start: function(slider) {
      }
    });   
  });
  </script>