.section
  %p
    myVoiceDrop turns your iPhone, iPod Touch & iPad into your personal podcast and voice gram to share with others.
  %p
    myVoiceDrop uses your Dropbox account to share your recording with others and also makes it easier to access your recordings from your Mac and PC for editing with other applications.  

:plain
  <script type="text/javascript">
  $(window).load(function(){
   
    $('#iconmyVoiceDrop').attr("class", "appIconText appIconBg");
    $("#iconmyVoiceDrop").attr("onmouseout","this.className='appIconText appIconBg';");
  });
  </script>