body {
	a {
		text-decoration: none;
	}
	
	font: 13px/18px "Trebuchet MS", Helvetica, Arial, Verdana, sans-serif;
	color: #333;
	font-size:13px;
	background: #f2f2f2;
	margin: 0px;
	margin-top: 10px;
	margin-bottom:30px;
	padding: 0px;
	
}

h1,h2,h3,h4,div,p,td,span {
	font: 13px/18px "Trebuchet MS", Helvetica, Arial, Verdana, sans-serif;
	color: #333;
	
}

a { color: #4c9fed; }
a:link, a:visited, a:active { text-decoration: none; }
a:hover { text-decoration: underline; }

/* LAYOUT */
.container {
	margin:0px auto;
	overflow:hidden;
	width:940px;
	background: #FFFFFF;
	border: 1px solid #d9d9d9;
	border-top:0px;
	overflow-x: hidden;
	overflow-y: auto;

}

.inner-container {
	
	margin:0px auto;
	overflow:hidden;
	width:940px;
	background: #FFFFFF;
}

#globalheader { 
    margin:0px auto;
	overflow:hidden;
	border: 1px solid #d9d9d9;
	background: #6db3f2; /* Old browsers */
	background: -moz-linear-gradient(top,  #6db3f2 0%, #54a3ee 50%, #3690f0 51%, #1e69de 100%); /* FF3.6+ */
	background: -webkit-linear-gradient(top,  #6db3f2 0%,#54a3ee 50%,#3690f0 51%,#1e69de 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #6db3f2 0%,#54a3ee 50%,#3690f0 51%,#1e69de 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #6db3f2 0%,#54a3ee 50%,#3690f0 51%,#1e69de 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #6db3f2 0%,#54a3ee 50%,#3690f0 51%,#1e69de 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6db3f2', endColorstr='#1e69de',GradientType=0 ); /* IE6-9 */
	

	width:940px;
	height:36px;
	color:#FFFFFF;
	clear:both;
	
	/*margin-bottom:10px;*/
		
}
.gray-box {
	background: url(/img/section-divider.png) no-repeat;
}

#idropcopy-listview-ios {
	background: url(/img/idropcopy-listview-ios-long.png) no-repeat;
	width:940px;
	height:1440px;
	padding-top:155px;
	padding-left:45px;
	padding-bottom:100px;
}
#idropcopy-listview-ios .header {
	color: #2d2d2d;
	font-size:16px;
	font-weight:bold;
	line-height:18px;
	padding-top:10px;
	padding-bottom:10px;
	width:425px;
}

#idropcopy-listview-ios .data {
	color: #333333;
	font-size:14px;
	line-height:22px;
	padding-bottom:10px;
	width:425px;
}

#idropcopy-listview-osx {
	background: url(/img/idropcopy-listview-osx-long.png) no-repeat;
	width:940px;
	height:1700px;
	padding-top:155px;
	padding-left:25px;
}


#idropcopy-listview-osx .header {
	color: #2d2d2d;
	font-size:16px;
	font-weight:bold;
	line-height:18px;
	padding-top:10px;
	padding-bottom:10px;
	width:465px;
}

#idropcopy-listview-osx .data {
	color: #333333;
	font-size:14px;
	line-height:22px;
	padding-bottom:10px;
	width:465px;
}


.ios-app-store {

	padding-top:20px;
	width:200px;
	text-align:center;

}
.osx-app-store {

	padding-top:20px;
	width:200px;
	text-align:center;

}


.section {
	padding:25px;
}

.section .subSection {
	padding:10px;
	padding-left:40px;
	font-size:15px;
}

.section .title {
	font-size:20px;
	padding-bottom:5px;
}

.section .subSection .link {
	padding-top:5px;
	padding-bottom:5px;
	font-size:15px;
}

.sectionTitle {
	font-weight:normal;
	font-size:20px;
	color:#666666;
}

.blueBorder {
	border: 1px solid #4c9fed;
	padding:10px;
	width:650px;
}

.titleText { font-size:14px; font-weight:normal; padding-top:5px; padding-bottom: 5px;}

#platform { font-size: 14px;margin:0px;padding:0px;  }
#platform a { font-size: 14px; color: #4c9fed; }
#platform ul {list-style: none outside;margin:0px;padding:0px;}
#platform ul li {font-size: 14px;display:inline;}
#platform ul.piped a { padding: 0 0 0 10px; margin-left: 10px; border-left: 1px solid #4c9fed; }
#platform a:link, a:visited, a:active { text-decoration: none; }
#platform a:hover { text-decoration: underline; }
#platform .piped a.first {
	border-left: 0 !important;
	padding-left: 0;
	margin-left: 0 !important;
}

/*--- Global Footer ---*/
#globalfooter { font-size: 12px; margin: 10px auto; padding-top:25px; text-align: center !important; }
#globalfooter a { color: #4c9fed; }
#globalfooter ul {list-style: none outside;margin:0px;padding:0px;}
#globalfooter ul li {display:inline;}
#globalfooter ul.piped a { padding: 0 0 0 10px; margin-left: 10px; border-left: 1px solid #d0d0d0; }
#globalfooter a:link, a:visited, a:active { text-decoration: none; }
#globalfooter a:hover { text-decoration: underline; }
.piped a.first {
	border-left: 0 !important;
	padding-left: 0;
	margin-left: 0 !important;
}

#divTitle {
	float:left;
	color:#FFFFFF;
	font-weight:normal;
	font-size:18px;
	height:29px;
	padding-top:9px;
	margin-left:30px;
	padding-right:30px;
	border-right: solid 1px #b5b5b5;
}

#divTitle a {color:#FFFFFF; text-decoration:none;}

#iconiLoveMyABCs {
	float:left;
	background-image:url('/img/ilovemyabcs-logo-32px.png');
	background-repeat:no-repeat;
	background-position-x:10px;
	width:100px;
	height:25px;
	color:#FFFFFF;
	padding-top:10px;
	padding-left:50px;
	border-right: solid 1px #b5b5b5;
	cursor:pointer;
}

#iconiDropCopy {
	float:left;
	background-image:url('/img/idropcopy-white-32px.png');
	background-repeat:no-repeat;
	background-position-x:10px;
	width:80px;
	height:25px;
	color:#FFFFFF;
	padding-top:10px;
	padding-left:48px;
	border-right: solid 1px #b5b5b5;
	cursor:pointer;
}

.appIconText {
	float:left;
	color:#FFFFFF;
	font-weight:normal;
	font-family: 'Trebuchet MS';
	font-size:14px;
	cursor:pointer;	
}

.appIconBg {
	background-color:#474747;
}