.row.pad-top-20{:style => "padding-left: 20px;padding-right: 20px;"}
  .small-12
    %h4 iDropCopy Security & Privacy
.row.pad-top-20{:style => "padding-left: 20px;padding-right: 20px;"}
  .small-12
    %h5 Security
    %div
      All drop copied data is encrypted and stored in your DropBox / Apps /iDropCopy / dropcopy.plist file.
      Only way to access the data is from your own devices.  iDropCopy is built on top of DropBox Security Policy.
.row.pad-top-20{:style => "padding-left: 20px;padding-right: 20px;"}
  .small-12 
    %h5 Privacy
    %div
      All your drop copied data is not shared with any individuals and companies.  iDropCopy follows the DropBox Privacy Policy.
    %p
      Please follow this link to read about
      %a{:href => "https://www.dropbox.com/help/category/Security%20and%20Privacy"} DropBox Security & Privacy Policy