.section
  .sectionTitle
    %img{:alt => "iDropCopy", :border => "0", :src => "/img/idropcopy/idropcopy-blue-32px.png", :style => "vertical-align:middle"}/
    iDropCopy Help
  .subSection
    %ol
      %li  
        .link 
          %a{:href =>  "#{locals[:link]}/login/#{locals[:platform]}"} How to login and connect iDropCopy service to DropBox?
      %li
        .link 
          %a{:href => "#{locals[:link]}/share"} How to share copy data between your iOS devices and Mac Computers?
      %li
        .link 
          %a{:href => "/idropcopy/plain/help"} How to look at a dropcopy item it detail?
      %li
        .link 
          %a{:href => "/idropcopy/plain/help"} How to copy an existing DropCopy item into your clipboard?
      %li
        .link 
          %a{:href => "/idropcopy/plain/help"} How to change Maximum DropCopy items preferences?
      %li
        .link 
          %a{:href => "/idropcopy/plain/help"} How to change sync time interval (Mac version only)?
      %li
        .link 
          %a{:href => "/idropcopy/plain/help"} How to control the Auto Copy to Clipboard feature?
      %li
        .link 
          %a{:href => "/idropcopy/plain/help"} How to login and connect iDropCopy service to DropBox?
      %li
        .link 
          %a{:href => "/idropcopy/plain/help"} How to login and connect iDropCopy service to DropBox?
    
    