%div{:style => 'font-size:15px;'}
  %img{:alt => "iDropCopy", :border => "0", :src => "/img/idropcopy/idropcopy-blue-32px.png", :style => "vertical-align:middle"}/
  iDropCopy Help
%ul{"data-role" => "listview"}
  %li
    %a{:href =>  "#{locals[:link]}/login/#{locals[:platform]}"} How to login and connect iDropCopy service to DropBox?
  %li
    %a{:href => "#{locals[:link]}/share"} How to share copy data between your iOS devices and Mac Computers?
  %li
    %a{:href => "/idropcopy/plain/help"} How to look at a dropcopy item it detail?
  %li
    %a{:href => "/idropcopy/plain/help"} How to copy an existing DropCopy item into your clipboard?
  %li
    %a{:href => "/idropcopy/plain/help"} How to change Maximum DropCopy items preferences?
  %li
    %a{:href => "/idropcopy/plain/help"} How to change sync time interval (Mac version only)?
  %li
    %a{:href => "/idropcopy/plain/help"} How to control the Auto Copy to Clipboard feature?