.header
  Login to iDropCopy via Dropbox
.data
  Please open the iDropCopy app on your iPhone/iPod and then touch the "Link to My DropBox Account" button.
  %div{:style => "vertical-align:middle; text-align:center;padding-top:10px;padding-bottom:10px;"}
    %img{:alt => "iDropCopy Link to Dropbox", :border => "0", :src => "/img/help/iphone/idropcopy-link-to-dropbox.png",  :style => "vertical-align:top;"}/
.data
  Please open the iDropCopy app on your iPhone/iPod and then touch the "Link to My DropBox Account" button.
  %div{:style => " vertical-align:middle; text-align:center;padding-top:10px;padding-bottom:10px;"}
    %img{:alt => "iDropCopy Link to Dropbox", :border => "0", :src => "/img/help/iphone/idropcopy-link-to-dropbox.png",   :style => "vertical-align:top;"}/
.data
  Please open the iDropCopy app on your iPhone/iPod and then touch the "Link to My DropBox Account" button.
  %div{:style => "vertical-align:middle; text-align:center;padding-top:10px;padding-bottom:10px;"}
    %img{:alt => "iDropCopy Link to Dropbox", :border => "0", :src => "/img/help/iphone/idropcopy-link-to-dropbox.png",  :style => "vertical-align:top;"}/