.section
  .sectionTitle
    %table{:border => "0"}
      %tr
        %td{:style => "vertical-align:top;"}
          %img{:alt => "iDropCopy", :border => "0", :src => "/img/idropcopy/idropcopy-blue-32px.png", :style => "vertical-align:top"}/
        %td
          .title
            How to login and connect iDropCopy service to your DropBox Account? 
          %a{:href =>  "#{locals[:link]}/iphone"} << Back to iDropCopy Help   
  .subSection
    #platform
      %div
        %ul
          %li
            %span iPhone/iPod
          %li.piped
            %a{:href => "#{locals[:link]}/login/ipad"} iPad
          %li.piped
            %a{:href => "#{locals[:link]}/login/mac"} Mac
    .blueBorder
      %ol
        %li
          .titleText
            Please open the iDropCopy app on your iPhone/iPod and then touch the "Link to My DropBox Account" button.
          %br/
          %img{:alt => "iDropCopy Link to Dropbox", :border => "0", :src => "/img/help/iphone/idropcopy-link-to-dropbox.png", :style => "vertical-align:top;padding-bottom:10px;"}/
        %li
          .titleText
            If you have Dropbox App already loaded on your iPhone/iPod please touch the green "Allow" button to establish iDropCopy link.
          %br/
          %img{:alt => "Dropbox iDropCopy Allow", :border => "0", :src => "/img/help/iphone/dropbox-idropcopy-allow.png", :style => "vertical-align:top;padding-bottom:15px;"}/
          %br/
          If you
          %b do not
          have Dropbox App loaded on your iPhone/iPod please sign in or touch the "New to Dropbox? Get the App!" link.
          %br/
          %img{:alt => "Dropbox iDropCopy Login", :border => "0", :src => "/img/help/iphone/dropbox-idropcopy-login.png", :style => "vertical-align:top;padding-top:15px;padding-bottom:10px;"}/
