.section
  .sectionTitle
    %table{:border => "0"}
      %tr
        %td{:style => "vertical-align:top;"}
          %img{:alt => "iDropCopy", :border => "0", :src => "/img/idropcopy-blue-32px.png", :style => "vertical-align:top"}/
        %td
          .title
            How to login and connect iDropCopy service to your DropBox Account? 
          %a{:href =>  "#{locals[:link]}"} << Back to iDropCopy Help   
  .subSection
    #platform
      %div
        %ul.piped
          %li
            iPhone/iPod
          %li
            %a{:href => "#{locals[:link]}/login/ipad"} iPad
          %li
            %a{:href => "#{locals[:link]}/login/mac"} Mac
    
    